.container{
    display: flex;
    width: 1000px;
    height: 500px;
    background-color: beige;
    border: 2px solid black;
    flex-direction: row;
}

.box{
    width: 100px;
    background-color: aquamarine;
    border: 1px solid purple;
}