.container{
    display: flex;
    height: 400px;
    background-color: beige;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.box{
    width: 100px;
    background-color: aquamarine;
    border: 1px solid purple;
}

#box4{
    flex-grow: 1;
}

#box2{
    flex-shrink: 2;
}