.container {
  height: 50rem;
  border: 2px solid black;
  background-color: aquamarine;
  grid-gap: 1rem;
  display: grid;
  grid-template-rows: 8rem 1fr 5rem; /* 1fr means 1 fraction of the remaining space*/
  grid-template-columns: 20rem 1fr;
  grid-template-areas:
    "hd hd"
    "sec main"
    "ft ft";
}

.box {
  background-color: beige;
  border: 2px solid green;
}

.head {
  grid-area: hd;
}

.section {
  grid-area: sec;
}

.main {
  grid-area: main;
}

.foot {
  grid-area: ft;
}
